{% extends 'university.html' %}

{% block UniName %} About Us {% endblock UniName %} 
{% block tableBody %}
<div class="container">
    <div class="Info-block" style="display: contents;  position:absolute;top:200px;text-align: center; left:10px; font-family: 'Raleway', sans-serif;">
        <p style="font-size: 21px;
        margin-top: 90px;
        color: white;
        background: #1e9ea2c4;
        width: 1211px;
        margin-left: -46px;
        padding: 43px;
        border: 2px solid black;
        border-radius: 30px;">We are a passionate group of developers who enjoy programming in our free time. We are based in Mumbai and this is our first enterprise level project. All of us are currently pursuing our Bachelor's in Computer Engineering. Our mission is to provide a seamless and user-friendly experience that allows users to access the information they need quickly and easily. We hope that our website will be a valuable resource for our users, and we look forward to continuing to improve and evolve our platform to meet their needs.</p>
    </div>
</body>
{% endblock tableBody %}