{% extends 'university.html'%}
{% block UniName %}Amity{% endblock UniName %}   
{% block tableBody %}
<div id='Amity' class = "container" style="margin:50px 250px">
    <div id="AmityUni">

    <h3 class="univtabheader">Schedule of Odd Semester</h3>
    <br><br>
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="margin-top: 40px; background-color: #daf192d6; color:black">
        {% comment %} style="margin-left: -60px"> {% endcomment %}
         <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">16 August 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Registration (Semester, CBCS, NCVA)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">16 August 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of the Classes </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">05 Sept 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last date of late registration as applicable </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">06 Sept 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Re-Registration as per University Norms </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">29 August 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Registration (Semester, NCVA)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">29 August 2022 to 31 August 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Orientation of I Semester Students</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">01 Sept 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of the Classes</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">8</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">16 Sept 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;"> Sangathan (Inter University Sports Meet)</td>
        </tr> 
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">9</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">10 October 2022 to 14 October 2022 and 7 November 2022 to 12 November 2022 </td>
            <td style="wordWrap: break-word;page-break-inside: avoid;"> Mid Semester Assessment</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">10</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">November 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;"> BOS Meetings </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">11</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">November-December 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Ph.D. Course Work</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">12</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">1<sup>st</sup> week December 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">AC and BOM Meetings</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">13</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">25 November 2022 and 24 December 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;"> Last date for filling AMIZONE feedback + GSSC &  Carry Over Exam Forms </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">14</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">09 December 2022 and 30 December 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;"> Last date for uploading Continuous Assessment </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">15</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">16 December 2022 and 06 Jan 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last Date of the Classes</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">16</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">17 Dec-18 Dec 2022 and 07 Jan-08 Jan 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Preparatory leave</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">17</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">19- 30 Dec 2022  and 09-28 Jan 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;"> End Semester & Carry Over Examinations</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">18</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">09 Jan 2023  and 09 Feb 2023 </td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Completion of Evaluation</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">19</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">13 Jan 2023  and 11 Feb 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;"> Moderation of Results</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">20</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">16 Jan 2023 and 13 Feb 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Declaration of Results </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">21</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">04 Jan 2023 and 01 Feb 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of Even Semester</td>
        </tr>
    </table><br><br>
    <hr style="border:2px dashed white"><br><br>
    <h3 class="univtabheader">Schedule of Even Semester</h3><br><br>
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="margin-top: 40px; background-color: #daf192d6; color:black">
        {% comment %} style="margin-left: -60px"> {% endcomment %}
         <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">04 Jan 2023 and 01 Feb 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Registration (Semester, CBCS, NCVA)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">04 Jan 2023  and 01 Feb 2023 </td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of the Classes </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">24 Jan 2023  and 21 Feb 2023 </td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last date of late registration as applicable </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">25 Jan 2023 and 22 Feb 2023 </td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Re-Registration as per University Norms </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">20-25 March 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Mid Semester Assessment </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">March 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">BOS Meetings</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">April 2023 </td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Odyssey (Amity Techno-Cultural Fest)  </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">8</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">01 May 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last date for filling AMIZONE feedback + GSSC &  Carry Over Exams </td>
        </tr> 
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">9</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">18 May 2023 and 08 Jun 2023 </td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last date for uploading Continuous Assessment</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">10</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">03 May-23 June 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Ph.D. Course Work</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">11</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">III Week May 2023 </td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">AC and BOM Meetings</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">12</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">19 May 2023 and 09 Jun 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last date of the Classes</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">13</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">20-22 May 2023 and 10-11 Jun 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Preparatory leave</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">14</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">23 May-10 Jun 2023 and 12 Jun-03 July 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">End Semester & Carry Over Examinations</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">15</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">11 June -23 July 2023 and 04 July-15 August 2023 </td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of Placement, Summer-Internship/ Practical Training/Summer break</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">16</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">19 June 2023 and 11 July 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Completion of Evaluation</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">17</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">23 June 2023 and 15 July 2023 </td>
            <td style="wordWrap: break-word;page-break-inside: avoid;"> Moderation of Results</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">18</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">26 June 2023 and 18 July 2023 </td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Declaration of Results</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">19</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">24 July 2023 and 16 August 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of the Next Semester</td>
        </tr>
    </table>
</div>
<br><br>
<button 
    onclick="downloadPDF(event, 'AmityUni')"
    style="color:solid-black;padding: 5px 62px 5px 70px;
    font-size: 16px;
    background-color:aliceblue;
    border: 1px solid #0000;
    cursor: pointer;
    font-size: 20px;
    margin: auto 41%;
    margin-bottom: 8%;" class="download_btn"><img src="/static/downloadIcon.png" style="border-radius: 30%; margin-right:20px;"></img><strong>Download</strong></button>
    <br>
    {% endblock tableBody %}
{%block collegeContact%}

    <div style="    display: flex;
    width: 100vw;
    background-color: #2a2e45;
    position: relative;
    padding-top:45px;">
    <div style="width:21%;   margin-top:75px; margin-left:111px">
        <address>
        <p style="color:navajowhite;"><strong>Phone Number:- </strong> <br>0120-4392183</p><br><br>
        <a href="mailTo:ase@amity.edu"><p style="color:navajowhite;"><strong>Email:- </strong> ase@amity.edu</p><br><br></a>
        <a href ="https://www.amity.edu/jaipur/syllabus.aspx"><strong style="color:navajowhite;"><i>Click for the syllabus<i></strong></a>
        </address>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.860407042278!2d77.32888667956836!3d28.543915247116306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce44e80a9461b%3A0x302ec8d3d5cb8d1a!2sAmity%20University%20Noida!5e0!3m2!1sen!2sin!4v1677498854153!5m2!1sen!2sin" width="600" height="450" style="border: 2px solid black; margin: auto 23%; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br><br>
</div>
    {%endblock collegeContact%}