{% extends 'university.html'%}
{% block UniName %}Andhra University{% endblock UniName %}   
{% block tableBody %}
<div id='Andhra' class = "container" style="margin:50px auto;">
    <h3><br><br>Schedule of I Semester</h3><br><br>
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;">
        {% comment %} style="margin-left: -60px"> {% endcomment %}
         <tr style="page-break-inside: avoid;">
            <th>SR. NO.</th>
            <th>DATE</th>
            <th>ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">15 October 2022</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">Commencement of Classwork for Semester I</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">28 Jan 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">Closure of Instruction</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">30 Jan 2023 to 4 Feb 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">End Semester Examinations for Semester I </td>
        </tr>
    </table><br><br>
    <hr style="border:2px dashed red"><br><br>
    <h3>Schedule of II Semester</h3><br><br>
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;">
        {% comment %} style="margin-left: -60px"> {% endcomment %}
        <tr style="page-break-inside: avoid;">
            <th>SR. NO.</th>
            <th>DATE</th>
            <th>ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">6 Feb 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">Commencement of Classwork for Semester II</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">20 May 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">Closure of Instruction</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">22 May 2023 to 27 May 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">End Semester Examinations for Semester II </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">29 May 2023 to 8 Jul 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">Community Service Project(200 hours)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">5</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">10 Jul 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">Commencement of A.Y. 2023-24</td>
        </tr>
    </table><br><br>
    <hr style="border:2px dashed red"><br><br>
    <h3>Schedule of III Semester</h3><br><br>
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;">
        {% comment %} style="margin-left: -60px"> {% endcomment %}
        <tr style="page-break-inside: avoid;">
            <th>SR. NO.</th>
            <th>DATE</th>
            <th>ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">1 Nov 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">Commencement of Classwork for Semester I</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">18 Feb 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">Closure of Instruction</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">20 Feb 2023 to 28 Feb 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">End Semester Examinations for Semester III </td>
        </tr>
    </table><br><br>
    <hr style="border:2px dashed red"><br><br>
    <h3>Schedule of IV Semester</h3><br><br>
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;">
        {% comment %} style="margin-left: -60px"> {% endcomment %}
        <tr style="page-break-inside: avoid;">
            <th>SR. NO.</th>
            <th>DATE</th>
            <th>ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">28 Feb 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">Commencement of Classwork for Semester IV</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">17 Jun 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">Closure of Instruction</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">19 Jun 2023 to 24 Jun 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">End Semester Examinations for Semester IV </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">26 Jun 2023 to 5 Aug 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">Short term Internship(200 hours) </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">5</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">7 Aug 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">Commencement of A.Y. 2023-24 </td>
        </tr>
    </table><br><br>
    <hr style="border:2px dashed red"><br><br>
    <h3>Schedule of V Semester</h3><br><br>
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black"style="background-color: #daf192d6;" >
        {% comment %} style="margin-left: -60px"> {% endcomment %}
        <tr style="page-break-inside: avoid;">
            <th>SR. NO.</th>
            <th>DATE</th>
            <th>ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">17 Nov 2022</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">Commencement of Classwork and Internship for Semester v</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">28 Feb 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">Closure of Instruction/Internship</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">1 Mar 2023 to 11 Mar 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">End Semester Examinations for Semester III and Evaluation of V Semester Internship </td>
        </tr>
    </table><br><br>
    <hr style="border:2px dashed red"><br><br>
    <h3>Schedule of VI Semester</h3><br><br>
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;">
        {% comment %} style="margin-left: -60px"> {% endcomment %}
        <tr style="page-break-inside: avoid;">
            <th>SR. NO.</th>
            <th>DATE</th>
            <th>ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">13 Mar 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">Commencement of Classwork and Internship for Semester VI</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">10 Jun 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">Closure of Instruction/Internship</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">12 Jun 2023 to 24 Jun 2023</td>
            <th style="wordWrap: break-word;page-break-inside: avoid;">End Semester Examinations for Semester V and VI and Evaluation of VI Semester Internship </td>
        </tr>
    </table><br><br>
</div>

    <br><br><br>
    <button 
    onClick="downloadPDF(event, 'Andhra')"
    style="color:solid-black;padding: 5px 62px 5px 70px;
    font-size: 16px;
    background-color: aliceblue;
    border: 1px solid #0000;
    cursor: pointer;
    font-size: 20px;
    margin: auto 43%;
    margin-bottom: 8%;" class="download_btn"><img src="/static/downloadIcon.png" style="border-radius: 30%; margin-right:20px;"></img><strong>Download</strong></button>
    <br>
    {% endblock tableBody %}
    {% block collegeContact%}
    <div style="    display: flex;
    width: 100vw;
    background-color: #2a2e45;
    position: relative;
    padding-top:45px;">
    <div style="width:21%;   margin-top:75px; margin-left:111px">
        <address>
        <p style="color:navajowhite;"><strong>Phone Number:- </strong> <br>+91 9175185223<br>+91 9175185223</p><br><br>
        <a href="mailTo:ol.admissions@andhrauniversity.edu.in"><p style="color:navajowhite;"><strong>Email:- </strong>ol.admissions@andhrauniversity.edu.in</p><br><br></a>
        <a href ="https://www.andhrauniversity.edu.in/student-corner/ug-and-pg-syllabus.html"><strong style="color:navajowhite;"><i>Click for the syllabus<i></strong></a>
        </address>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15201.415291267858!2d83.31511775445588!3d17.72796004389744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a39434499eb3e63%3A0xfef86702906c01e!2sAndhra%20University%2C%20Visakhapatnam%2C%20Andhra%20Pradesh%20530003!5e0!3m2!1sen!2sin!4v1677498986844!5m2!1sen!2sin" width="600" height="450" style="border: 2px solid black; margin: auto 29%; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br><br>
</div>
    {% endblock collegeContact%}
