{% extends 'university.html'%}
{% block UniName %}AVV Coimbatore{% endblock UniName %}   
{% block tableBody %}
<div id='AVV' class = "container" style="margin:50px auto;">
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6; margin: 50px auto;">
         <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">20 Jul, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Enrollment of VII Semester B.Tech</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">3 Aug, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Enrollment of III, V, VII & IX Semester classes of Arts & Science Program , III semester MSW, M.Tech (Fast Track mode) </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">29 Aug, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Periodical I - VII Semester B.Tech</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">15 Nov, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last Date to Drop Courses with Mention: I Term</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">12 Sep, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Periodical I - III, V, VII & IX Semester Arts & Science Program , III semester MSW</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">14 Sep 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Enrollment of III & V Semester B.Tech </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">10 Oct, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Periodical II - VII Semester B.Tech </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">8</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">25 Oct, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;"> Periodical II - III, V, VII & IX Semester Arts & Science Program , III semester MSW Periodical I - III & V semester B.Tech</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">9</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">22 Nov, 2022 </td>
            <td style="wordWrap: break-word;page-break-inside: avoid;"> Last Instruction Day for VII Semester B.Tech </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">10</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">24 Nov, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">End Semester Exam Begins for VII Semester B.Tech </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">11</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">5 Dec, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Periodical II - III & V Semester B.Tech</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">12</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">6 Dec, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last Instruction Day for III, V, VII & IX Semester Arts & Science Program , III semester MSW </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">13</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">8 Dec, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;"> End Semester Begins for III, V, VII & IX Semester Arts & Science Program , III semester MSW</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">14</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">11 Jan, 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last Instruction Day for III & V Semester B.Tech </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">15</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">12 Jan, 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">End Semester Begins for III & V Semester B.Tech </td>
        </tr>
    </table>
</div>
    <br><br><br>

    <button 
    onclick="downloadPDF(event, 'AVV')"
    style="color:solid-black;padding: 5px 62px 5px 70px;
        font-size: 16px;
        background-color: aliceblue;
        border: 1px solid #0000;
        cursor: pointer;
        font-size: 20px;
        margin: auto 41%;
        margin-bottom: 8%;" class="download_btn"><img src="/static/downloadIcon.png" style="border-radius: 30%; margin-right:20px;"></img><strong>Download</strong></button>
        <br>
        {% endblock tableBody %}
        {% block collegeContact %}
        <div style="    display: flex;
        width: 100vw;
        background-color: #2a2e45;
        position: relative;
        padding-top:45px;">
        <div style="width:21%; margin-left:111px">
            <address>
            <p style="color:navajowhite;"><strong>Phone Number:- </strong> <br>+91 (422) 2685 000</p><br><br>
            <a href="mailTo:univhq@amrita.edu"><p style="color:navajowhite;"><strong>Email:- </strong>univhq@amrita.edu</p><br><br></a>
            <a href ="https://www.amrita.edu/academics/curriculum"><strong style="color:navajowhite;"><i>Click for the syllabus<i></strong></a>
            </address>
        </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.8015104600886!2d76.89843384933828!3d10.902684359796122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba85c95d3e828eb%3A0x2785cb4510629029!2sAmrita%20Vishwa%20Vidyapeetham%2C%20Coimbatore%20campus!5e0!3m2!1sen!2sin!4v1677499125199!5m2!1sen!2sin" width="600" height="450" style="border: 2px solid black; margin: auto 29%; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br><br>
    </div>
        {% endblock collegeContact %}
