{% extends 'university.html'%}
{% block UniName %}Banaras Hindu University{% endblock UniName %}   
{% block tableBody %}
<div class = "container" style="margin:50px 250px">
    <div id='BHU'>
    <h3 class="univtabheader">Schedule of Odd Semester</h3>
    <br><br>
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;">
        {% comment %} style="margin-left: -60px"> {% endcomment %}
         <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">18 Sept 2022 to 19 Nov 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Teaching for I Semester</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">18 Sept 2022 to 19 Nov 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Teaching for III Semester </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">04 Oct 2022 to 06 Oct 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Dussehra Holiday</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">24 Oct 2022 to 26 Oct 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Deepavali Holiday</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">28 Nov 2022 to 19 Dec 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Semester Examinations</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">20 Dec 2022 to 03 Jan 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Winter Vacation</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">10 Jan 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Marks to be Sent</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">8</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">20 Jan 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;"> Declaration of Results</td>
        </tr>
    </table><br><br>
    <hr style="border:2px dashed white"><br><br>
<h3 class="univtabheader">Schedule of Even Semester</h3><br><br>
<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;">
    <tr style="page-break-inside: avoid;">
        <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">04 Jan 2023 to 05 Apr 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;"> Teaching of II Semester </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">04 Jan 2023 to 05 Apr 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;"> Teaching of IV Semester </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">07 Mar 2023 to 09 Mar 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Holi</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">11 Apr 2023 to 28 Apr 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Semester Examinations</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">10 May 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;"> Marks to be Sent</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">01 Jun 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Declaration of Results </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">01 May 2023 to 30 Jun 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">8 Week Practical Training </td>
        </tr>
    </table>

</div>
<br><br><br>

<button 
    onclick="downloadPDF(event, 'BHU')"
    style="color:solid-black;padding: 5px 62px 5px 70px;
    font-size: 16px;
    background-color: aliceblue;
    border: 1px solid #0000;
    cursor: pointer;
    font-size: 20px;
    margin: auto 41%;
    margin-bottom: 8%;" class="download_btn"><img src="/static/downloadIcon.png" style="border-radius: 30%; margin-right:20px;"></img><strong>Download</strong></button>
    <br>
    {% endblock tableBody %}
    {% block collegeContact %}
    <div style="    display: flex;
    width: 100vw;
    background-color: #2a2e45;
    position: relative;
    padding-top:45px;">
    <div style="width:21%;   margin-top:75px; margin-left:111px">
        <address>
        <p style="color:navajowhite;"><strong>Phone Number:- </strong> <br>0542-670-3253</p><br><br>
        <a href="mailTo:headgermanbhu@gmail.com"><p style="color:navajowhite;"><strong>Email:- </strong>headgermanbhu@gmail.com</p><br><br></a>
        <a href ="https://internet.bhu.ac.in/academic/academic_syllabus.php"><strong style="color:navajowhite;"><i>Click for the syllabus<i></strong></a>
        </address>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3608.08502363171!2d82.98906414957807!3d25.267725134959264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398e322990b81d57%3A0x187c3decd33a8727!2sBanaras%20Hindu%20University!5e0!3m2!1sen!2sin!4v1677499283891!5m2!1sen!2sin" width="600" height="450" style="border: 2px solid black; margin: auto 23%; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br><br>
</div>
{% endblock collegeContact %}