{% extends 'university.html' %}

{% block UniName %} Bharathiar University {% endblock UniName %} 
{%block tableBody%}
<div class = "container" style="margin:50px 250px">
    <div id='BU'>
    <br><br><h3 class="univtabheader">Odd Semester Examination</h3><br><br>
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;">
        {% comment %} style="margin-left: -60px"> {% endcomment %}
         <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">07.09.2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Calling of Elective/Supportive Subjects list for odd semester</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">14.09.2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last date for submission of the Elective/Supportive Subjects list for odd semester</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">29.09.2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Issue of applications for odd semester Examinations</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">10.10.2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last date for payment of examinations fee and submission of
                filled-in applications -- Without fine</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">14.10.2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last date for payment of examinations fee and submission of
                filled-in applications -- With fine </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">20 Dec 2022 to 03 Jan 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Winter Vacation</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">03.10.2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Issue of applications for odd semester Examinations</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">8</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">14.10.2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;"> Last date for submission of Practical/Project Examinations Schedule & Panel of Examiners List</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">9</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">17.10.2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of Practical/Project Examinations (on or after)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">10</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">28.10.2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last date for submission of Theory examinations Schedule &
                Panel of Examiners List for Evaluation</td>
        </tr>   
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">11</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">10.11.2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Despatch of Hall-Ticket, Nominal Roll, Strength details</td>
        </tr>
        <tr style="page-break-inside: avoid;">    
            <td style="wordWrap: break-word;page-break-inside: avoid;">12</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">16.11.2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of theory examinations</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">13</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">08.12.2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Examinations to be over by</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">14</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">15.12.2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of Central Valuation</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">15</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">27.01.2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Date of publication of results</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">16</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">17.02.2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Date of despatch of Statement of Marks</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">17</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">28.02.2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Date of despatch of Provisional Certificate & Consolidated
                Statement of Marks</td>
        </tr>
    </table><br><br>
    <hr style="border:2px dashed white"><br><br>
<h3 class="univtabheader">Even Semester Examination</h3><br><br>
<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;">
    <tr style="page-break-inside: avoid;">
        <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">02.01.2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Calling of Elective/Supportive Subjects list for even semester</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">23.01.2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Last date for submission of the above list </td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">20.02.2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Issue of applications for odd semester Examinations</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">03.03.2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Last date for payment of examinations fee and submission of<br>filled-in applications -- Without fine</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">10.03.2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Last date for payment of examinations fee and submission of
                filled-in applications -- With fine </td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">31.01.2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Calling of practical/project examinations schedule</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">24.02.2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Last date for submission of Practical/Project Examinations Schedule & <br>Panel of Examiners List </td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">8</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">23.03.2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of Practical/Project Examinations (on or after)</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">9</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">29.03.2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Last date for submission of Theory examinations Schedule & <br> Panel of Examiners List for Evaluation</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">10</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">08.04.2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Despatch of Hall-Ticket, Nominal Roll, Strength details</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">11</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">12.04.2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of theory examinations</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">12</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">03.05.2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Examinations to be over by</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">13</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">15.05.2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of central valuation</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">14</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">05.06.2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Date of publication of results</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">15</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">03.07.2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;"> Date of despatch of Statement of Marks</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">16</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">24.07.2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;"> Date of despatch of Provisional Certificate & Consolidated <br>Statement of Marks</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">17</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">06.08.2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;"> Conduct on Special Supplementary Examination</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">18</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">12.08.2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Date of publication of Special Supplementary Examination Results</td>
    </tr>
</table>

</div>
<br><br><br>

<button 
    onclick = "downloadPDF(event, 'BU')"
    style="color:solid-black;padding: 5px 62px 5px 70px;
    font-size: 16px;
    background-color: aliceblue;
    border-radius: 2px;
    cursor: pointer;
    font-size: 20px;
    margin: auto 41%;
    margin-bottom: 8%;" class="download_btn"><img src="/static/downloadIcon.png" style="border-radius: 30%; margin-right:20px;"></img><strong>Download</strong></button>
    <br>
    {% endblock tableBody %}
    {%block collegeContact%}
    <div style="display: flex;
    width: 100vw;
    background-color: #2a2e45;
    padding-top:45px;">
    <div style="width:21%; margin-top:75px; margin-left:111px">
        <address>
        <p style="color:navajowhite;"><strong>Phone Number:- </strong> <br>+91-422-2428381</p><br><br>
        <a href="mailTo:bucia@buc.edu.in"><p style="color:navajowhite;"><strong>Email:- </strong>bucia@buc.edu.in</p><br><br></a>
        <a href ="https://b-u.ac.in/syllabus"><strong style="color:navajowhite;"><i>Click for the syllabus<i></strong></a>
        </address>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18749.18125583122!2d76.8604298507953!3d11.038642372833106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba85f7746e3f9c3%3A0xdca5f27a69898af2!2sBharathiyar%20University%2C%20Coimbatore%2C%20Tamil%20Nadu%20641046!5e0!3m2!1sen!2sin!4v1677499395226!5m2!1sen!2sin" width="600" height="450" style="border: 2px solid black; margin: auto 23%; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br><br>
</div>
{%endblock collegeContact%}
