{% extends 'university.html'%}
{% block UniName %}Chandigarh University{% endblock UniName %}   
{% block tableBody %}
<div class = "container" style="margin:50px 250px">
    <div id="CU">
    <h3>Sem-1</h3><br><br>
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;" >
        {% comment %} style="margin-left: -60px"> {% endcomment %}
         <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">17th Sept 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Start of Semester - 1<br>(New Enrollments - July 2022 Intake)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">18th Sept 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Orientation and Induction Programs for all UG/PG Programme's </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">17th Sept 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Academic Phase-1</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">19th Oct 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Mid Semester Feedback on LMS for all UG/PG Programmes</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">30th Nov 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last Date of Assignment Submission of PHASE-1 Subjects  - Online Through LMS</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">01st Nov 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Academic Phase-2</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">30th Dec 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last Date of Assignment Submission of PHASE-2 Subjects</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">8</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">03rd Jan 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Open House of students with Higher Officials of Chandigarh University.</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">9</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">10th Jan 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last Date of Project Report Submission PG  Programmes</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">10</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">16th Dec 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">PCP-Personal Contact Program</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">11</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">05th Dec-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Datasheet Announcement, Online End Sem Feedback.</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">12</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">09th Jan 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Practical & Viva Voce</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">13</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">20th Jan 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">End Semester Regular/Reappear Exams</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">14</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">28th March -2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Result Declaration (Tentatively)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">15</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">30th April 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last Date of Payment of Fee for next semester</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">16</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">1st April 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Start of New Semester (Tentatively)</td>
        </tr>
    </table><br><br>
    <hr style="border:2px dashed red"><br><br>
<h3>Sem-(2/3/4/5/6)</h3><br><br>
<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;">
    {% comment %} style="margin-left: -60px"> {% endcomment %}
     <tr style="page-break-inside: avoid;">
        <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">17th Sept 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Start of Semester - 2nd/3rd /4th /5th /6th<br>(For Continuing students-Jan/July-2020, Jan/ July- 2021/Jan 2022 Intake)</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">25th Sept 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Orientation and Induction Programs for all UG/PG Programme's </td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">17th Sept 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Academic Phase-1</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">22nd Oct 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Mid Semester Feedback on LMS for all UG/PG Programmes</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">30th Nov 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Last Date of Assignment Submission of PHASE-1 Subjects  - Online Through LMS</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">01st Nov 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Academic Phase-2</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">30th Dec 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Last Date of Assignment Submission of PHASE-2 Subjects</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">8</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">09th  Jan 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Open House of students with Higher Officials of Chandigarh University.</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">9</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">10th Jan 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Last Date of Project Report Submission PG  Programmes</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">10</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">09th Jan 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">PCP-Personal Contact Program</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">11</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">05th Dec-2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Datasheet Announcement, Online End Sem Feedback.</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">12</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">09th Jan 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Practical & Viva Voce</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">13</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">20th Jan 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">End Semester Regular/Reappear Exams</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">14</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">25th March -2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Result Declaration (Tentatively)</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">15</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">30th April 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Last Date of Payment of Fee for next semester</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">16</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">1st April 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Start of New Semester (Tentatively)</td>
    </tr>
</table>
</div>
<br><br><br>
<button 
    onclick = "downloadPDF(event, 'CU')"
    style="color:solid-black;padding: 5px 62px 5px 70px;
    font-size: 16px;
    background-color: aliceblue;
    border: 1px solid #0000;
    cursor: pointer;
    font-size: 20px;
    margin: auto 41%;
    margin-bottom: 8%;" class="download_btn"><img src="/static/downloadIcon.png" style="border-radius: 30%; margin-right:20px;"></img><strong>Download</strong></button>
    <br>
    {% endblock tableBody %}
    {% block collegeContact %}
    <div style="    display: flex;
    width: 100vw;
    background-color: #2a2e45;
    position: relative;
    padding-top:45px;">
    <div style="width:21%;   margin-top:75px; margin-left:111px">
        <address>
        <p style="color:navajowhite;"><strong>Phone Number:- </strong><br>+91-160-3044444 <br>+91-8067947100</p><br><br>
        <a href="mailTo:info@cumail.in"><p style="color:navajowhite;"><strong>Email:- </strong>info@cumail.in</p><br><br></a>
        <a href ="https://www.universitydunia.com/institute/1200-chandigarh-university-cu/syllabus"><strong style="color:navajowhite;"><i>Click for the syllabus<i></strong></a>
        </address>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3428.2050020119905!2d76.5724209497283!3d30.768825290855133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ffb140bd63e07%3A0x68591e334d17a988!2sChandigarh%20University!5e0!3m2!1sen!2sin!4v1677499468129!5m2!1sen!2sin" width="600" height="450" style="border: 2px solid black; margin: auto 23%; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br><br>
<div>
    {% endblock collegeContact %}
