{% extends 'university.html'%}
{% block UniName %}Delhi University, Post Graduate{% endblock UniName %}   
{% block tableBody %}
<div class = "container" style="margin:50px 250px">
    <div id='DUpost'>
    <h3 class="univtabheader">Schedule of First Semester</h3><br><br>
<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;" >
    <tr style="page-break-inside: avoid;">
        <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">5 Dec 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Classes Begin</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">23 Mar 2023 to 31 Mar 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Preparatory break and practical examinations </td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">1 Apr 2023 to 15 Apr 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Conduct of examinations</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">16 Apr 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Summer Break</td>
    </tr>
    </table><br><br>
    <hr style="border:2px dashed white"><br><br>
    <h3 class="univtabheader">Schedule of Second Semester</h3><br><br>
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;">
        {% comment %} style="margin-left: -60px"> {% endcomment %}
         <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">17 Apr 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Classes Begin</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">4 Aug 2023 to 13 Aug 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Preparatory break and practical examinations </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">14 Aug 2023 to 28 Aug 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Conduct of examinations</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">29 Aug 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of Next Academin Session for this batch</td>
        </tr>
    </table>
</div>
    
<br><br><br>

<button
    onclick = "downloadPDF(event, 'DUpost')"
    style="color:solid-black;padding: 5px 62px 5px 70px;
    font-size: 16px;
    background-color: aliceblue;
    border: 1px solid #0000;
    cursor: pointer;
    font-size: 20px;
    margin: auto 40%;
    margin-bottom: 8%;" class="download_btn"><img src="/static/downloadIcon.png" style="border-radius: 30%; margin-right:20px;"></img><strong>Download</strong></button>
    <br>
    {% endblock tableBody %}
    {% block collegeContact %}
    <div style="    display: flex;
    width: 100vw;
    background-color: #2a2e45;
    position: relative;
    padding-top:45px;">
    <div style="width:21%;   margin-top:75px; margin-left:111px">
        <address>
        <p style="color:navajowhite;"><strong>Phone Number:- </strong> <br>+91 11 2766 7771</p><br><br>
        <a href="mailTo:deanir.du@gmail.com"><p style="color:navajowhite;"><strong>Email:- </strong>deanir.du@gmail.com</p><br><br></a>>
        <a href ="https://www.du.ac.in/index.php?page=post-graduate"><strong style="color:navajowhite;"><i>Click for the syllabus<i></strong></a>
        </address>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3500.498189675069!2d77.20759444966748!3d28.674740388835893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd9b8f000001%3A0xdab46ed196bfdc8c!2sDELHI%20UNIVERSITY!5e0!3m2!1sen!2sin!4v1677499712592!5m2!1sen!2sin" width="600" height="450" style="border: 2px solid black; margin: auto 23%; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br><br>
<div>
    {% endblock collegeContact %}
