{% extends 'university.html'%}
{% block UniName %}Gauhati University{% endblock UniName %}   
{% block tableBody %}
<div class = "container" style="margin:50px 250px">
    <div id="GU">
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black"  style="background-color: #daf192d6;box-sizing:border-box; margin-top: 80px;">
         <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">3 Aug, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Completion of Admission Process for all Undergraduate Programmes</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">15 Aug, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Completion of Admission Process for all Postgraduate Programmes</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">1 July, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of UG Classes for odd semester/year</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">08-Aug-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of UG for fresh batch students(First Semester/Year)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">16-Aug-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of PG for fresh batch students(First Semester/Year)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">22-Nov-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Conduct Examinations for UG Courses</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">01-Dec-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Conduct Examinations for PG Courses</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">8</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">26-Dec-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Winter Vacation</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">9</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">17-Jan-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of classes of even semesters for all UG and PG Courses</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">10</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">01-May-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Conduct Examinations for UG Courses</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">11</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">01-Jun-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Conduct Examinations for PG Courses</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">12</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">01-Jul-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Summer Vacation</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">13</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">01-Aug-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of next Academic Session</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">14</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">18-27 Apr, 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Final Exams: II Term</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">15</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">30 Apr, 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">II Term Ends</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">16</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">1 May-30 June, 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Summer Term</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">17</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">1 May - 4 May, 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Course Registration: Summer Term</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">18</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">30 June 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Final Exams: Summer Term</td>
        </tr>
    </table>
</div>
<br><br>
{% comment %} color: rgb(181 83 213) /static/pdfs/Gauhati University.pdf{% endcomment %}
{% comment %} <a href="/static/pdfs/Gauhati University.pdf" download  > <button style="color:solid-black;padding: 5px 62px 5px 70px;
    font-size: 16px; {% endcomment %}
    {% comment %} background-color: #0f62fe; {% endcomment %}
    {% comment %} background-color: ;
    border: 1px solid #0000;
    cursor: pointer;
    font-size: 20px;
    margin: auto 41%;" class="download_btn"><img src="/static/downloadIcon.png" style="border-radius: 30%; margin-right:20px;"></img><strong>Download</strong></button></a> {% endcomment %}

    <button 
        onclick = "downloadPDF(event, 'GU')"
        style= "color:solid-black;padding: 5px 62px 5px 70px;
        font-size: 16px;
        background-color: aliceblue;
        border: 1px solid #0000;
        cursor: pointer;
        font-size: 20px;
        margin: auto 39%;
        margin-bottom: 8%;" class="download_btn"><img src="/static/downloadIcon.png" style="border-radius: 30%; margin-right:20px;"></img><strong>Download</strong></button>
        <br>
        {% endblock tableBody %}
        {% block collegeContact %}
        <div style="    display: flex;
        width: 100vw;
        background-color: #2a2e45;
        position: relative;
        padding-top:45px;">
        <div style="width:21%;   margin-top:75px; margin-left:111px">
            <address>
            <p style="color:navajowhite;"><strong>Phone Number:- </strong> <br>+91 6900879777 <br> +91 8011822200</p><br><br>
            <a href="mailTo:gauiums@gmail.com"><p style="color:navajowhite;"><strong>Email:- </strong>gauiums@gmail.com<br></p></a><a href="mailTo:gunodalofficer@gmail.com"><p style="color:navajowhite;">gunodalofficer@gmail.com.<br></p></a><br><br>
            <a href ="https://syllabus.gauhati.ac.in/"><strong style="color:navajowhite;"><i>Click for the syllabus<i></strong></a>
            </address>
        </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3581.30963164237!2d91.66077274960018!3d26.15404369855372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a44c762f12a67%3A0x95386a0503457611!2sGauhati%20University!5e0!3m2!1sen!2sin!4v1677499775650!5m2!1sen!2sin" width="600" height="450" style="border: 2px solid black; margin: auto 23%; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br><br>
</div>
{% endblock collegeContact %}