{% extends 'university.html'%}
{% block UniName %}Indian Institute Of Science, Banaglore{% endblock UniName %}   
{% block tableBody %}
<div class = "container" style="margin:50px auto">
    <div id='IISBangalore'>
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="margin-top: 80px; background-color: #daf192d6; color:black">
         <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">1 Aug, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">I Term Starts</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">1-16 Aug, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Course Registration: I Term</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">17 Oct, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last Date to Drop Courses without Mention: I Term</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">15 Nov, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last Date to Drop Courses with Mention: I Term</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">23 Nov, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last Date for Classes: I Term</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">30 Nov- 09 Dec, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Final Exams: I Term</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">31 Dec, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">I Term Ends </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">8</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">1 Jan, 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">English Skit</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">9</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">II Term Starts </td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Extempore Eng. </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">10</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">15 -31 Dec, 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Mid-Session Recess</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">11</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">1-16 Jan, 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Course Registration: II Term</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">12</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">1 Mar, 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last Date to Drop Courses without Mention: I Term</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">13</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">31 Mar, 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last Date to Drop Courses with Mention: I Term</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">14</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">11 Apr, 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last Date for Classes: II Term</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">15</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">18-27 Apr, 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Final Exams: II Term</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">16</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">30 Apr, 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">II Term Ends</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">17</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">1 May-30 June, 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Summer Term</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">18</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">1 May - 4 May, 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Course Registration: Summer Term</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">19</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">14.09.2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Hindi Day Celebration(14 days)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">20</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">30 June 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Final Exams: Summer Term</td>
        </tr>
    </table>
</div>
    {% comment %} <p>Click on the image to download it:<p> {% endcomment %}
    {% comment %} <a href="/static/try.pdf" download="background">
        <button type="button">Download Pdf</button></a> {% endcomment %}

    <br><br>


    <button
    onclick="downloadPDF(event, 'IISBangalore')" 
    style="color:solid-black;padding: 5px 62px 5px 70px;
    font-size: 16px;
    background-color: aliceblue;
    border: 1px solid #0000;
    cursor: pointer;
    font-size: 20px;
    margin: auto 41%;
    margin-bottom: 8%;" class="download_btn"><img src="/static/downloadIcon.png" style="border-radius: 30%; margin-right:20px;"></img><strong>Download</strong></button>
    <br>
    {% endblock tableBody %}
    {% block collegeContact %}
    <div style="    display: flex;
    width: 100vw;
    background-color: #2a2e45;
    position: relative;
    padding-top:45px;">
    <div style="width:21%;   margin-top:75px; margin-left:111px">
        <address>
        <p style="color:navajowhite;"><strong>Phone Number:- </strong> <br>+91-80-23600757<br>+91-80-22932444</p><br><br>
        <a href="mailTo:registrar@iisc.ac.in"><p style="color:navajowhite;"><strong>Email:- </strong> registrar@iisc.ac.in</p><br><br></a>
        <a href ="https://recruitmentindia.in/iisc-administrative-assistant-syllabus"><strong style="color:navajowhite;"><i>Click for the syllabus<i></strong></a>
        </address>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.216747649226!2d77.56494824935936!3d13.02186491725406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17d757d11bfb%3A0x3fc1cd64d345c13f!2sIndian%20Institute%20of%20Science!5e0!3m2!1sen!2sin!4v1677498071393!5m2!1sen!2sin" width="600" height="450" style="border: 2px solid black; margin: auto 23%; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br><br>
</div>

</div>
{% endblock collegeContact %}