{% extends 'university.html'%}
{% block UniName %}University of Jammu{% endblock UniName %}   
{% block tableBody %}
<div class = "container" style="margin:50px 250px">
    <div id="Jammu">
    <h3>Sem-II</h3><br><br>
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black"  style="box-sizing:border-box; background-color: #daf192d6;">
         <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">13-May-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of Semester-II</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">13-Jun-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Minor Test-I</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">15-Jun-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Summer Vacations</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">18-Jul-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Resumption of Semester-II classes</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">16-Aug-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Minor Test-II</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">22-Oct-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Diwali Break</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">27-Oct-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Major Test</td>
        </tr>
    </table><br><br>
    <hr style="border:2px dashed red"><br><br>
<h3>Sem-III</h3><br><br>
<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;">
    <tr style="page-break-inside: avoid;">
        <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">8</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">01-Nov-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of class-work</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">9</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">30-Nov-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Minor Test-I</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">10</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">28-Dec-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Winter Break</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">11</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">10-Jan-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Minor Test-II</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">12</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">24-Feb-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Major Test</td>
        </tr>
    </table><br><br>
    <hr style="border:2px dashed red"><br><br>
<h3>Sem-IV</h3><br><br>
<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;">
    <tr style="page-break-inside: avoid;">
        <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">13</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">27-Feb-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of class-work</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">14</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">07-Mar-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Holi Break</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">15</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">27-Mar-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Minor Test-I</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">16</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">28-Apr-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Minor Test-II</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">17</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">12-Jun-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Open Course Examination</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">18</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">13-Jun-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Major Test(Completion of all examinations as well as practicals)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">19</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">20-Jun-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Declaration of IV<sup>th</sup> semester result</td>
        </tr>
    </table>
</div>

    <br><br><br>
    <button 
        onclick="downloadPDF(event, 'Jammu')"
        style="color:solid-black;padding: 5px 62px 5px 70px;
        font-size: 16px;
        background-color:aliceblue;
        border: 1px solid #0000;
        cursor: pointer;
        font-size: 20px;
        margin-left: 450px;
        margin-bottom: 7%;" class="download_btn"><img src="/static/downloadIcon.png" style="border-radius: 30%; margin-right:20px;"></img><strong>Download</strong></button>
        <br>
        {% endblock tableBody %}        
        {% block collegeContact %}
        <div style="    display: flex;
        width: 100vw;
        background-color: #2a2e45;
        position: relative;
        padding-top:45px;">
        <div style="width:21%;   margin-top:75px; margin-left:111px">
            <address>
            <p style="color:navajowhite;"><strong>Phone Number:- </strong>0191- 2435248 <br> 2435259 <br> 2453544 <br> 2453588</p><br><br>
            <a href= "mailto:helpdesk@jammuuniversity.ac.in"><p style="color:navajowhite;"><strong>Email:- </strong>helpdesk@jammuuniversity.ac.in</p><br><br></a>
            <a href ="https://www.jammuuniversity.ac.in/student/syllabus-ug-downloads"><strong style="color:navajowhite;"><i>Click for the syllabus<i></strong></a>
            </address>
        </div>  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13427.467856025776!2d74.85931981030846!3d32.71616264804917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391e849eb9deefd1%3A0x40d4c0a28d70593a!2sUniversity%20of%20Jammu%2C%20Jammu!5e0!3m2!1sen!2sin!4v1677500003246!5m2!1sen!2sin" width="600" height="450" style="border: 2px solid black; margin: auto 23%; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br><br>
</div>
{% endblock collegeContact %}