{% extends 'university.html' %}

{% block UniName %}Jadavpur University, Engg & Tech{% endblock UniName %}

{% block tableBody %}
<div class="container" style="margin: 50px auto">
    <div id="JDPEng&Tech">
    <h2 align=center><u>1<sup>st</sup> Year 1st Sem.</u></h2><br>
    <h3><u>UG (Day): 1st Year, 1st Sem.</u></h3>
<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="box-sizing:border-box;background-color: #daf192d6;">
    <tr style="page-break-inside: avoid;">
     <th style="wordWrap: break-word;page-break-inside: avoid;">Sr. No.</th>
     <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
     <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>
    
    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">09.11.2022 to 12.11.2022 </td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Student Induction Programme (Except Architecture)</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">09.11.2022</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Classes Start</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">By 23.12.2022</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Class Test 1</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">By 13.02.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Class Test 2</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">10.02.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Sessionals Dissolve</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">10.02.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Theoreticals Dissolve</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">10.02.2023 to 16.02.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Practical Exams (For Pharmacy Only)</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">8</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">17.02.2023 to 03.03.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Summer Vacation</td>
    </tr> 
</table>

<br><br><hr style="border:2px dashed white;"><br><br>

<h3><u>UG (Evening): 1st Year, 1st Sem.</u></h3>

<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="box-sizing:border-box;background-color: #daf192d6;">
    <tr style="page-break-inside: avoid;">
        <th style="wordWrap: break-word;page-break-inside: avoid;">Sr. No.</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">19.09.2022</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Classes Start</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">By 05.11.2022</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Class Test 1</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">By 23.12.2022</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Class Test 2</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">05.01.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Sessionals Dissolvet</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">12.01.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Theoreticals Dissolve</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">16.01.2023 to 25.01.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Semester Exams</td>
    </tr>

</table>

<br><br><hr style="border:2px dashed white;"><br><br>
<h3><u>MCA 1st Year, 1st Semester</u></h3>

<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="box-sizing:border-box;background-color: #daf192d6;">
    <tr style="page-break-inside: avoid;">
        <th style="wordWrap: break-word;page-break-inside: avoid;">Sr. No.</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">17.10.2022 to 08.11.2022</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Bridge Courses for non-CS students
            <br>(Including Exam for Bridge Course)</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">09.11.2022</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Classes Start</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">By 23.12.2022</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Class Test 1</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">By 13.02.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Class Test 2</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">12.01.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Sessionals Dissolve</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">16.01.2023 to 25.01.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Theoreticals Dissolve</td>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">17.02.2023 to 03.03.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Semester Exams</td>
    </tr>

</table>

<br><br><hr style="border:2px dashed white;"><br><br>
<h3><u>PG 1st Year, 1st Semester</u></h3>

<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="box-sizing:border-box;background-color: #daf192d6;">
    <tr style="page-break-inside: avoid;">
        <th style="wordWrap: break-word;page-break-inside: avoid;">Sr. No.</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">26.09.2022</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Classes Start</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
        <td align=center> - </td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Class Test 1</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
        <td align=center> - </td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Class Test 2</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">03.02.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Sessionals Dissolve</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">10.02.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Theoreticals Dissolve </td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">10.02.2023 to 16.02.2023 </td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Practical Exams (For Pharmacy Only)</td>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">17.02.2023 to 03.03.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Semester Exams</td>
    </tr>

</table>

<br><br><hr style="border:2px dashed white;"><br><br>
<h2 align=center>1<sup>st</sup> Year 2<sup>nd</sup> Sem.</h2><br>
<h3><u>UG (Day): 1<sup>st</sup> Year, 2<sup>nd</sup> Sem.</u></h3>

<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="box-sizing:border-box;background-color: #daf192d6;">
    <tr style="page-break-inside: avoid;">
        <th style="wordWrap: break-word;page-break-inside: avoid;">Sr. No.</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">13.03.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Classes Start</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
        <td align=center>By 08.05.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Class Test 1</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
        <td align=center>By 10.06.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Class Test 2</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">13.06.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Sessionals Dissolve</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">17.06.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Theoreticals Dissolve </td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">17.06.2023 to 21.06.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Practical Exams (For Pharmacy Only)</td>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">22.06.2023 to 05.07.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Semester Exams</td>
    </tr>

</table>

<br><br><hr style="border:2px dashed white;"><br><br>

<h3><u>UG (Evening): 1st Year, 2nd Sem.</u></h3>

<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="box-sizing:border-box;background-color: #daf192d6;">
    <tr style="page-break-inside: avoid;">
        <th style="wordWrap: break-word;page-break-inside: avoid;">Sr. No.</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">01.02.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Classes Start</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">By 12.03.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Class Test 1</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">By 15.04.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Class Test 2</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">29.04.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Sessionals Dissolvet</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">04.05.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Theoreticals Dissolve</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">10.05.2023 to 20.05.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Semester Exams</td>
    </tr>

</table>

<br><br><hr style="border:2px dashed white;"><br><br>

<h3><u>MCA 1st Year, 2nd Semester</u></h3>

<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="box-sizing:border-box;background-color: #daf192d6;">
    <tr style="page-break-inside: avoid;">
        <th style="wordWrap: break-word;page-break-inside: avoid;">Sr. No.</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">13.03.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Classes Start</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">By 08.05.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Class Test 1</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">By 10.06.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Class Test 2</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">13.06.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Sessionals Dissolvet</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">17.06.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Theoreticals Dissolve</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">22.06.2023 to 05.07.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Semester Exams</td>
    </tr>

</table>

<br><br><hr style="border:2px dashed white;"><br><br>

<h3><u>PG 1<sup>st</sup> Year, 2<sup>nd</sup> Semester</u></h3>

<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="box-sizing:border-box;background-color: #daf192d6;">
    <tr style="page-break-inside: avoid;">
        <th style="wordWrap: break-word;page-break-inside: avoid;">Sr. No.</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">13.03.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Classes Start</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">13.06.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Sessionals Dissolvet</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">17.06.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Theoreticals Dissolve</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">17.06.2023 to 21.06.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Practical Exams (For Pharmacy Only)</td>
    </tr>
    
    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">22.06.2023 to 05.07.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Semester Exams</td>
    </tr>
</table>

<br><br><hr style="border:2px dashed white;"><br><br>
<h2 align=center>2nd Year 1st Sem.</h2><br>

<h3><u>UG (Day): 2<sup>nd</sup> Year, 1<sup>st</sup> Sem.</u></h3>

<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="box-sizing:border-box;background-color: #daf192d6;">
    <tr style="page-break-inside: avoid;">
        <th style="wordWrap: break-word;page-break-inside: avoid;">Sr. No.</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">01.11.2022</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Classes Start</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">By 09.12.2022</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Class Test 1</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">By 21.01.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Class Test 2</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">04.02.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Sessionals Dissolve </td>
    </tr>
    
    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">11.02.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Theoreticals Dissolve</td>
    </tr>
    
    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">11.02.2023 to 16.02.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Practical Exams (For Pharmacy Only)</td>
    </tr>
    
    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">17.02.2023 to 03.03.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Semester Exams</td>
    </tr>
</table>

<br><br><hr style="border:2px dashed white;"><br><br>
<h2 align=center><u>2<sup>nd</sup> Year 2<sup>nd</sup> Sem.</u></h2><br>

<h3><u>UG (Day): 2<sup>nd</sup> Year, 2<sup>nd</sup> Sem.</u></h3>

<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="box-sizing:border-box;background-color: #daf192d6;">
    <tr style="page-break-inside: avoid;">
        <th style="wordWrap: break-word;page-break-inside: avoid;">Sr. No.</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">13.03.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Classes Start</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">By 08.05.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Class Test 1</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">By 10.06.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Class Test 2</td>
    </tr>

    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">13.06.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Sessionals Dissolve </td>
    </tr>
    
    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">17.06.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Theoreticals Dissolve</td>
    </tr>
    
    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">17.06.2023 to 21.06.2023</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Practical Exams (For Pharmacy Only)</td>
    </tr>
    
    <tr style="page-break-inside: avoid;">
         <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">22.06.2023 to 05.07.20233</td>
         <td style="wordWrap: break-word;page-break-inside: avoid;">Semester Exams</td>
    </tr>
</table>
</div>
<br><br><br>

    <button 
    onclick="downloadPDF(event, 'JDPEng&Tech')"
    style="color:solid-black;padding: 5px 62px 5px 70px;
    font-size: 16px;
    background-color: aliceblue;
    border: 1px solid #0000;
    cursor: pointer;
    font-size: 20px;
    margin: auto 41%;
    margin-bottom: 8%;" class="download_btn"><img src="/static/downloadIcon.png" style="border-radius: 30%; margin-right:20px;"></img><strong>Download</strong></button></a>

<br><br><p align=center>Note: The academic calendar for the session 2022-2023 adopted in the emergency FET meeting held on 02.08.2022 is to be replaced by this modified version. </p>
<br>
{% endblock tableBody %}
{% block collegeContact %}
    <div style="    display: flex;
    width: 100vw;
    background-color: #2a2e45;
    position: relative;
    padding-top:45px;">
    <div style="width:21%;   margin-top:75px; margin-left:111px">
        <address>
        <p style="color:navajowhite;"><strong>Phone Number:- </strong> <br>91 33 2457 2227</p><br><br>
        <a href="mailto:dean_fet@admin.jdvu.ac.in"><p style="color:navajowhite;"><strong>Email:- </strong>dean_fet@admin.jdvu.ac.in</p><br><br></a>
        <a href ="https://nextincareer.com/jadavpur-university-syllabus/"><strong style="color:navajowhite;"><i>Click for the syllabus<i></strong></a>
        </address>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3686.141272387474!2d88.37141230497701!3d22.49888216353183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0271237f28abe9%3A0xd047bab0c8bfb11c!2sJadavpur%20University!5e0!3m2!1sen!2sin!4v1677500117041!5m2!1sen!2sin" width="600" height="450" style="border: 2px solid black; margin: auto 23%; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br><br>
</div>
{% endblock collegeContact %}