{% extends 'university.html' %}

{% block UniName %}Jadavpur ISLM{% endblock UniName %}

{% block tableBody %}

<div class="container" style="margin: 50px auto">
    <br><br><br>
    <div id="Jadavpur_ISLM">
    <h2 align=center><u>4-Semester P.G. Degree Courses / 6-Semester ME / M.Tech. Courses under FISLM affiliated to
        Faculty of Engineering & Technology (FET)</u></h2><br><br>
        
    <h2 align=center><u>4-SEMESTER P.G. DEGREE COURSES</u></h2><br>

<h3><u>1<sup>st</sup> Semester:</u></h3>
<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="box-sizing:border-box;background-color: #daf192d6;">
    <tr>
        <th>Sr. No.</th>
        <th>DATE</th>
        <th>ACTIVITY</th>
       </tr>
       
       <tr>
           <td>1</td>
           <td>04.01.22</td>
           <td>Classes Start</td>
       </tr>
    
       <tr>
           <td>2</td>
           <td>27.03.22</td>
           <td>Sessional & Theoretical Dissolve</td>
       </tr>
    
       <tr>
           <td>3</td>
           <td>05.04.22 to 16.04.22</td>
           <td>Semester Examinations</td>
       </tr>
    
       <tr>
           <td>4</td>
           <td>By 15.05.22</td>
           <td>1<sup>st</sup> Semester Result</td>
       </tr>
    
       <tr>
           <td>5</td>
           <td>19.05.22 to 22.05.22</td>
           <td>1<sup>st</sup> Semester Review</td>
       </tr>
    
       <tr>
           <td>6</td>
           <td>12.06.22</td>
           <td>1<sup>st</sup> Semester Review Result</td>
       </tr>
</table>

<br><br><hr style="border:2px dashed white;"><br><br>

<h3><u>2<sup>nd</sup> Semester:</u></h3>
<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="box-sizing:border-box;background-color: #daf192d6;">
    <tr>
        <th>Sr. No.</th>
        <th>DATE</th>
        <th>ACTIVITY</th>
       </tr>
       
       <tr>
           <td>1</td>
           <td>19.04.22</td>
           <td>Classes Start</td>
       </tr>
    
       <tr>
           <td>2</td>
           <td>10.07.22</td>
           <td>Sessional Dissolve</td>
       </tr>
    
       <tr>
           <td>3</td>
           <td>10.07.22</td>
           <td>Theoretical Dissolve</td>
       </tr>
    
       <tr>
           <td>4</td>
           <td>15.07.22 to 24.07.22</td>
           <td>2<sup>nd</sup> Semester Examinations</td>
       </tr>
    
       <tr>
           <td>5</td>
           <td>By 24.08.22</td>
           <td>2<sup>nd</sup> Semester Result (PG)</td>
       </tr>
    
       <tr>
           <td>6</td>
           <td>26.08.22 to 28.08.22</td>
           <td>2<sup>nd</sup> Semester Review</td>
       </tr>
    
       <tr>
           <td>7</td>
           <td>15.09.2022</td>
           <td>2<sup>nd</sup> Semester Review Result</td>
       </tr>
</table>

<br><br><hr style="border:2px dashed white;"><br><br>

<h3><u>3<sup>rd</sup> & 4<sup>th</sup> Semester:</u></h3>
<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="box-sizing:border-box;background-color: #daf192d6;">
    <tr>
        <th>Sr. No.</th>
        <th>DATE</th>
        <th>ACTIVITY</th>
       </tr>
       
       <tr>
           <td>1</td>
           <td>28.09.22</td>
           <td>Classes Start</td>
       </tr>
    
       <tr>
           <td>2</td>
           <td>30.06.23</td>
           <td>Thesis to be submitted</td>
       </tr>
    
       <tr>
           <td>3</td>
           <td>30.09.22</td>
           <td>Thesis to be submitted</td>
       </tr>
    
       <tr>
           <td>4</td>
           <td>09.10.22</td>
           <td>Viva to be completed</td>
       </tr>
    
       <tr>
           <td>5</td>
           <td>16.10.22</td>
           <td>Marks to be submitted</td>
       </tr>
    
       <tr>
           <td>6</td>
           <td>20.10.22</td>
           <td>Final Result</td>
       </tr>
    
       <tr>
           <td>7</td>
           <td>30.11.22</td>
           <td>Thesis to be submitted (2nd Chance)</td>
       </tr>
    
       <tr>
           <td>8</td>
           <td>by 30.05.23</td>
           <td>Last chance of Thesis submission</td>
       </tr>
</table>

<br><br><hr style="border:2px dashed white;"><br><br>

<h2 align=center><u>6-Semester (Evening) M.Tech. Courses</u></h2><br>

<h3><u>1<sup>st</sup> Semester:</u></h3>
<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="box-sizing:border-box;background-color: #daf192d6;">
    <tr>
        <th>Sr. No.</th>
        <th>DATE</th>
        <th>ACTIVITY</th>
       </tr>
       
       <tr>
           <td>1</td>
           <td>04.01.23</td>
           <td>Classes Start</td>
       </tr>
    
       <tr>
           <td>2</td>
           <td>27.03.23</td>
           <td>Sessional & Theoretical Dissolve</td>
       </tr>
    
       <tr>
           <td>3</td>
           <td>05.04.23 to 16.04.23</td>
           <td>Semester Examinations</td>
       </tr>
    
       <tr>
           <td>4</td>
           <td>By 15.05.23</td>
           <td>1<sup>st</sup> Semester Result</td>
       </tr>
    
       <tr>
           <td>5</td>
           <td>19.05.23 to 22.05.23</td>
           <td>1<sup>st</sup> Semester Review</td>
       </tr>
    
       <tr>
           <td>6</td>
           <td>12.06.23</td>
           <td>1<sup>st</sup> Semester Review Result</td>
       </tr>
</table>

<br><br><hr style="border:2px dashed white;"><br><br>

<h3><u>2<sup>nd</sup> Semester:</u></h3>
<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="box-sizing:border-box;background-color: #daf192d6;">
    <tr>
        <th>Sr. No.</th>
        <th>DATE</th>
        <th>ACTIVITY</th>
       </tr>
       
       <tr>
           <td>1</td>
           <td>19.04.23</td>
           <td>Classes Start</td>
       </tr>
    
       <tr>
           <td>2</td>
           <td>10.07.23</td>
           <td>Sessional Dissolve</td>
       </tr>
    
       <tr>
           <td>3</td>
           <td>10.07.23</td>
           <td>Theoretical Dissolve</td>
       </tr>
    
       <tr>
           <td>4</td>
           <td>15.07.23 - 24.07.23</td>
           <td>2<sup>nd</sup> Semester Examinations</td>
       </tr>
    
       <tr>
           <td>5</td>
           <td>By 24.08.23</td>
           <td>2<sup>nd</sup> Semester Result</td>
       </tr>
    
       <tr>
           <td>6</td>
           <td>26.08.23 to 28.08.23</td>
           <td>2<sup>nd</sup> Semester Review</td>
       </tr>
    
       <tr>
           <td>7</td>
           <td>15.09.2023</td>
           <td>2<sup>nd</sup> Semester Review Result</td>
       </tr>
</table>

<br><br><hr style="border:2px dashed white;"><br><br>

<h3><u>3<sup>rd</sup> Semester:</u></h3>
<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="box-sizing:border-box;background-color: #daf192d6;">
    <tr>
        <th>Sr. No.</th>
        <th>DATE</th>
        <th>ACTIVITY</th>
       </tr>
       
       <tr>
           <td>1</td>
           <td>28.09.22</td>
           <td>Classes Start</td>
       </tr>
    
       <tr>
           <td>2</td>
           <td>22.01.23</td>
           <td>Sessional Dissolve</td>
       </tr>
    
       <tr>
           <td>3</td>
           <td>22.01.23</td>
           <td>Theoretical Dissolve</td>
       </tr>
    
       <tr>
           <td>4</td>
           <td>27.01.23 to 10.02.23</td>
           <td>Semester Examinations</td>
       </tr>
    
       <tr>
           <td>5</td>
           <td>By 05.03.23</td>
           <td>Semester Result</td>
       </tr>
</table>

<br><br><hr style="border:2px dashed white;"><br><br>

<h3><u>4<sup>th</sup> Semester:</u></h3>
<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="box-sizing:border-box;background-color: #daf192d6;">
    <tr>
        <th>Sr. No.</th>
        <th>DATE</th>
        <th>ACTIVITY</th>
       </tr>
       
       <tr>
           <td>1</td>
           <td>15.02.23</td>
           <td>Classes Start</td>
       </tr>
    
       <tr>
           <td>2</td>
           <td>15.05.23</td>
           <td>Sessional Dissolve</td>
       </tr>
    
       <tr>
           <td>3</td>
           <td>15.05.23</td>
           <td>Theoretical Dissolve</td>
       </tr>
    
       <tr>
           <td>4</td>
           <td>24.05.23 - 31.05.23</td>
           <td>Semester Examinations</td>
       </tr>
    
       <tr>
           <td>5</td>
           <td>By 30.06.23</td>
           <td>Semester Result</td>
       </tr>
</table>

<br><br><hr style="border:2px dashed white;"><br><br>

<h3><u>5<sup>th</sup> Semester & 6<sup>th</sup> Semester:</u></h3>
<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="box-sizing:border-box;background-color: #daf192d6;">
    <tr>
        <th>Sr. No.</th>
        <th>DATE</th>
        <th>ACTIVITY</th>
       </tr>
       
       <tr>
           <td>1</td>
           <td>28.09.22</td>
           <td>Classes Start</td>
       </tr>
    
       <tr>
           <td>2</td>
           <td>by 30.06.23</td>
           <td>Thesis Submission</td>
       </tr>
</table>
</div>

<br><br><br>

    <button 
    onclick="downloadPDF(event, 'Jadavpur_ISLM')"
    style="color:solid-black;padding: 5px 62px 5px 70px;
    font-size: 16px;
    background-color: aliceblue;
    border: 1px solid #0000;
    cursor: pointer;
    font-size: 20px;
    margin: auto 41%;
    margin-bottom: 8%;" class="download_btn"><img src="/static/downloadIcon.png" style="border-radius: 30%; margin-right:20px;"></img><strong>Download</strong></button>
    <br>
    {% endblock tableBody %}
    {% block collegeContact %}
    <div style="    display: flex;
    width: 100vw;
    background-color: #2a2e45;
    position: relative;
    padding-top:45px;">
    <div style="width:21%;   margin-top:75px; margin-left:111px">
        <address>
        <p style="color:navajowhite;"><strong>Phone Number:- </strong> <br>2414-6628 (O) <br>033-2457-3000</p><br><br>
        <a href= "mailto:deanislm@jadavpuruniversity.in"><p style="color:navajowhite;"><strong>Email:- </strong>deanislm@jadavpuruniversity.in</p><br><br></a>
        <a href ="https://nextincareer.com/jadavpur-university-syllabus/"><strong style="color:navajowhite;"><i>Click for the syllabus<i></strong></a>
        </address>
    </div>  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3686.141272387474!2d88.37141230497701!3d22.49888216353183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0271237f28abe9%3A0xd047bab0c8bfb11c!2sJadavpur%20University!5e0!3m2!1sen!2sin!4v1677500117041!5m2!1sen!2sin" width="600" height="450" style="border: 2px solid black; margin: auto 23%; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br><br>
{% endblock collegeContact %}