{% extends 'university.html' %}

{% block UniName %}Jawaharlal Nehru University{% endblock UniName %}

{% block tableBody %}
<div class="container" style="margin: 50px auto">
    <div id="JNU">
<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;">
    <tr style="page-break-inside: avoid;">
     <th style="wordWrap: break-word;page-break-inside: avoid;">Sr. No.</th>
     <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
     <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>
    
    <tr style="page-break-inside: avoid;">``
        <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">September - December, 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Duration of Semester</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">2a</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">01.09.2022 to 07.09.2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Registration (A-Programs without Viva) <br>Bachelors, Masters .....</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">2b</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">08.09.2022 to 14.09.2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Registration (B-Programs with Viva) Ph.D .....</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">09.09.2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of Classes</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="align: center">4</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">30.09.2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Deadline for adding/dropping of courses</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">By 2<sup>nd</sup> Week of October, 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Deadline for 1<sup>st</sup> Mid-Semester sessional exams/ <br> Assessment (other than continuous evalution)*</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">By 2<sup>nd</sup> Week of November, 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Deadline for 2<sup>nd</sup> Mid-Semester sessional exams/ <br> Assessment (other than continuous evalution)*</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">By 2<sup>nd</sup> Week of December, 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Deadline for 3<sup>rd</sup> Mid-Semester sessional exams/ <br> Assessment (other than continuous evalution)*</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">8</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">20.12.2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Last date for receipt of recommendations for the <br> grant of zero  semester etcfrom School/Spl.
        <br>Centres/Centres for consideration of the standing committee to the Academic Council</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">9</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">By 4<sup>th</sup> Week of December, 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Completion of Monsoon End-Semester<br> Examination</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">10</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">December 30, 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Submission of Final Results</td>
    </tr>

    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">11</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">01.01.2023 to 15.01.2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Winter Vacation</td>
    </tr>
 
</table>
</div>
<br><br><br>

<button 
    onclick="downloadPDF(event, 'JNU')"
    style="color:solid-black;padding: 5px 62px 5px 70px;
    font-size: 16px;
    background-color: aliceblue;
    border: 1px solid #0000;
    cursor: pointer;
    font-size: 20px;
    margin: auto 41%;
    margin-bottom: 8%;" class="download_btn"><img src="/static/downloadIcon.png" style="border-radius: 30%; margin-right:20px;"></img><strong>Download</strong></button>
    <br>
    {% endblock tableBody %}
    {% block collegeContact %}
    <div style="    display: flex;
    width: 100vw;
    background-color: #2a2e45;
    position: relative;
    padding-top:45px;">
    <div style="width:21%;   margin-top:75px; margin-left:111px">
        <address>
        <p style="color:navajowhite;"><strong>Phone Number:- </strong><br>011-26704090</p><br><br>
        <a href= "mailto:director_admissions@mail.jnu.ac.in"><p style="color:navajowhite;"><strong>Email:- </strong>director_admissions@mail.jnu.ac.in </p><br><br></a>
        <a href ="https://www.jnu.ac.in/scss-syllabus"><strong style="color:navajowhite;"><i>Click for the syllabus<i></strong></a>
        </address>
    </div>  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.9970563722327!2d77.16421064966366!3d28.539808194938406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1dc0ea0183b7%3A0xefd8d19ac7f061e7!2sJawaharlal%20Nehru%20University!5e0!3m2!1sen!2sin!4v1677644882329!5m2!1sen!2sin" width="600" height="450" style="border: 2px solid black; margin: auto 23%; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br><br>
</div>
{% endblock collegeContact %}