{% extends 'university.html'%}
{% block UniName %}University of Kashmir{% endblock UniName %}   
{% block tableBody %}
<div class = "container" style="margin:50px 250px">
    <div id="KashimirUniversity">
    <h3>Schedule of I Semester</h3><br><br>
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;">
        {% comment %} style="margin-left: -60px"> {% endcomment %}
         <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">17 Aug 2022 to 07 Dec 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Class work for Core, DCEs Courses and OE/GE Courses</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">08 Dec 2022 to 11 Dec 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Examination Preparation days for OE/GE Courses</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">12 Dec 2022 to 14 Dec 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Examination for OE/GE Courses </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">15 Dec 2022 to 20 Dec 2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Examination Preparation days for Departmental courses (Core and DCE Courses)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">21 Dec 2022 to 05 Jan 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Examination for Departmental courses (Core and DCE Courses) </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">01 Jan 2023 to 28 Feb 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Winter Vacations </td>
        </tr>
    </table><br><br>
    <hr style="border:2px dashed red"><br><br>
    <h3>Schedule of II Semester</h3><br><br>
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;">
        {% comment %} style="margin-left: -60px"> {% endcomment %}
         <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">01 Jan 2023 to 30 Jun 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Class work for All courses (Core, DCEs Courses and OE/GE Courses)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">01 Jul 2023 to 03 Jul 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Examination Preparation days for OE/GE Courses</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">04 Jul 2023 to 06 Jul 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Examination for OE/GE Courses </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">07 Jul 2023 to 12 Jul 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Examination Preparation days for Departmental courses (Core and DCE Courses)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">13 Jul 2023 to 27 Jul 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Examination for Departmental courses (Core and DCE Courses) </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">28 Jul 2023 to 06 Aug 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Summer Vacations </td>
        </tr>
    </table><br><br>
    <hr style="border:2px dashed red"><br><br>
    <h3>Schedule of III Semester</h3><br><br>
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;">
        {% comment %} style="margin-left: -60px"> {% endcomment %}
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">10 Aug 2023 to 30 Nov 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Class work for All courses (Core, DCEs Courses and OE/GE Courses)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">01 Dec 2023 to 03 Dec 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Examination Preparation days for OE/GE Courses</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">04 Dec 2023 to 07 Dec 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Examination for OE/GE Courses </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">08 Dec 2023 to 13 Dec 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Examination Preparation days for Departmental courses (Core and DCE Courses)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">14 Dec 2023 to 28 Dec 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Examination for Departmental courses (Core and DCE Courses) </td>
        </tr>
    </table><br><br>
    <hr style="border:2px dashed red"><br><br>
    <h3>Schedule of IV Semester</h3><br><br>
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;">
        {% comment %} style="margin-left: -60px"> {% endcomment %}
        <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">01 Mar 2024 to 30 Jul 2024</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Class work for All courses (Core, DCEs Courses and OE/GE Courses)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">01 Jul 2024 to 03 Jul 2024</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Examination Preparation days for OE/GE Courses</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">04 Jul 2024 to 07 Jul 2024</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Examination for OE/GE Courses </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">08 Jul 2024 to 14 Jul 2024</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Examination Preparation days for Departmental courses (Core and DCE Courses)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">15 Jul 2024 to 29 Jul 2024</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Examination for Departmental courses (Core and DCE Courses) </td>
        </tr>
    </table><br><br>
</div>

    <br><br><br>

    <button 
    onclick="downloadPDF(event, 'KashimirUniversity')"
    style="color:solid-black;padding: 5px 62px 5px 70px;
    font-size: 16px;
    background-color: aliceblue;
    border: 1px solid #0000;
    cursor: pointer;
    font-size: 20px;
    margin: auto 41%;
    margin-bottom: 8%;" class="download_btn"><img src="/static/downloadIcon.png" style="border-radius: 30%; margin-right:20px;"></img><strong>Download</strong></button>
    <br>
    {% endblock tableBody %}
    {% block collegeContact %}
    <div style="    display: flex;
    width: 100vw;
    background-color: #2a2e45;
    position: relative;
    padding-top:45px;">
    <div style="width:21%;   margin-top:75px; margin-left:111px">
        <address>
        <p style="color:navajowhite;"><strong>Phone Number:- </strong>+91 (194) 227 2096<br> +91 (194) 227 2097</p><br><br>
        <a href= "mailto:info@kashmiruniversity.net"><p style="color:navajowhite;"><strong>Email:- </strong>info@kashmiruniversity.net</p><br><br></a>
        <a href ="https://egov.uok.edu.in/eservices/syllabus/prelogin/course.aspx?coursetype=UGCBCS"><strong style="color:navajowhite;"><i>Click for the syllabus<i></strong></a>
        </address>
    </div>  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3302.718061287756!2d74.83432314983511!3d34.127966921089865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e18452d3ef8659%3A0xd3961f41b16f68d5!2sUniversity%20of%20Kashmir!5e0!3m2!1sen!2sin!4v1677644974298!5m2!1sen!2sin" width="600" height="450" style="border: 2px solid black; margin: auto 23%; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br><br>
</div>
{% endblock collegeContact %}