{% extends 'university.html'%}
{% block UniName %}Mysore University{% endblock UniName %}   
{% block tableBody %}
<div class = "container" style="margin:50px 250px">
    <div id="MysoreUniversity">
    <h3>Schedule of I/III Semester</h3><br><br>
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="background-color: #daf192d6;" >
        {% comment %} style="margin-left: -60px"> {% endcomment %}
         <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">02 Jan 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">25 Apr 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">MAAC Visit </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">05 May 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last working day</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">07 May 2023 to 14 May 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Study holiday for Students TEachers only</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">15 May 2023 to 20 May 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">University Examinations</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">22 May 2023 to 27 May 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Evaluation work</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">28 May 2023 to 04 Jun 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Mid Term holiday for teacher educators and student teacher</td>
        </tr>
    </table><br><br>
    <hr style="border:2px dashed red"><br><br>
<h3>Schedule of II/IV Semester</h3><br><br>
<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" >
    <tr style="page-break-inside: avoid;">
        <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
        <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">05 Jun 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;"> Commencement </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">02 Oct 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;"> MAAC Visit </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">14 Oct 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last working day</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">15 Oct 2023 to 22 Oct 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Study holiday for students teachers only</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">23 Oct 2023 to 28 Oct 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">University Examination</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">30 Oct 2023 to 04 Nov 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Evaluation of work </td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">06 Nov 2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Term end holidays for teacher educators and student teachers </td>
        </tr>
    </table>
</div>
<br><br><br>

<button 
    onclick="downloadPDF(event, 'MysoreUniversity')"
    style="color:solid-black;padding: 5px 62px 5px 70px;
    font-size: 16px;
    background-color: aliceblue;
    border: 1px solid #0000;
    cursor: pointer;
    font-size: 20px;
    margin: auto 41%;
    margin-bottom: 8%;" class="download_btn"><img src="/static/downloadIcon.png" style="border-radius: 30%; margin-right:20px;"></img><strong>Download</strong></button>
    <br>
    {% endblock tableBody %}
    {% block collegeContact %}
    <div style="    display: flex;
    width: 100vw;
    background-color: #2a2e45;
    position: relative;
    padding-top:45px;">
    <div style="width:21%;   margin-top:75px; margin-left:111px">
        <address>
        <p style="color:navajowhite;"><strong>Phone Number:- </strong><br>0821- 2419450<br>0821- 2419208<br>0821- 2419315</p><br><br>
        <a href= "mailto:registrar@uni-mysore.ac.in"><p style="color:navajowhite;"><strong>Email:- </strong>registrar@uni-mysore.ac.in</p><br><br></a>
        <a href ="https://uni-mysore.ac.in/cbcs-syllabus-1"><strong style="color:navajowhite;"><i>Click for the syllabus<i></strong></a>
        </address>
    </div>  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15592.104009811992!2d76.60891010329563!3d12.314035774092908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baf7aead1e8609b%3A0x83c0ec4446085b3c!2sUniversity%20Of%20Mysore%20Campus%2C%20Mysuru%2C%20Mysuru%2C%20Mysuru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1677645113739!5m2!1sen!2sin" width="600" height="450" style="border: 2px solid black; margin: auto 23%; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br><br>
</div>
{% endblock collegeContact %}