{% extends 'university.html' %}

{% block UniName %}Panjab University{% endblock UniName %}

{% block tableBody %}
<div class="container" style="margin: 50px 250px">
    <div id="PanjabUniversity">
<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="margin-top: 80px;background-color: #daf192d6;">
    <tr style="page-break-inside: avoid;">
     <th style="wordWrap: break-word;page-break-inside: avoid;">Sr. No.</th>
     <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
     <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>
    
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">01 Jul 2022 to 31 Jul 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Semester Break / Summer Vacation</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">08 Aug 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Teaching Department and Regional Centres of the University open on and commencment of teching for ongoing classes </td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">08 Aug 2022 to 06 Aug 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Admission Process</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">08 Aug 2022 to 22 Aug 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Normal Admission for new classes (except for those classes in which admission is through PU Entrance Test (UG & PG))</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">23 Aug 2022 08 Sept 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Late admission to be allowed by the Chairperson of the University Teaching Departments/Regional Centres with late fee of Rs. 1000/- per student OR as per schedule, whichever is late.</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">09 Sept 2022 to 30 Sept 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Late admission in the University Teaching department/Regional Centres to be allowed by the Vice-Chancellor with late fee of Rs.3000/- per student OR as per schedule, whichever is late. </td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">01 Aug 2022 to 02 Dec 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Academic Term-I (Odd semesters) </td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">8</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">03 Dec 2022 to 27 Dec 2022</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;"> End Semester Examinations</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">9</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">28 Dec 2022 to 08 Jan 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Semester Vacation (Winter Break) </td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">10</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">09 Jan 2023 to 12 May 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Academic Term-II (Even semesters)</td>
    </tr>

    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">11</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">13 May 2023 to 06 Jun 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">End Semester Examinations</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">12</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">04 Jun 2023 to 09 Jul 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Summer Vacation (tentative) </td>
    </tr>
</table>
</div>
<br><br><br>

<button 
    onclick="downloadPDF(event, 'PanjabUniversity')"
    style="color:solid-black;padding: 5px 62px 5px 70px;
    font-size: 16px;
    background-color: aliceblue;
    border: 1px solid #0000;
    cursor: pointer;
    font-size: 20px;
    margin: auto 41%;
    margin-bottom: 8%;" class="download_btn"><img src="/static/downloadIcon.png" style="border-radius: 30%; margin-right:20px;"></img><strong>Download</strong></button>
    <br>
    {% endblock tableBody %}
    {% block collegeContact %}
    <div style="    display: flex;
    width: 100vw;
    background-color: #2a2e45;
    position: relative;
    padding-top:45px;">
    <div style="width:21%;   margin-top:75px; margin-left:111px">
        <address>
        <p style="color:navajowhite;"><strong>Phone Number:- </strong>2534867 <br> 2534868</p><br><br>
        <a href= "mailto:regr@pu.ac.in"><p style="color:navajowhite;"><strong>Email:- </strong>regr@pu.ac.in</p><br><br></a>
        <a href ="https://puchd.ac.in/syllabus.php"><strong style="color:navajowhite;"><i>Click for the syllabus<i></strong></a>
        </address>
    </div>  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3428.59003418235!2d76.76628414972801!3d30.7580152913766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fed887a3ebcdb%3A0xb9e3d29d8ad76196!2sPanjab%20University%20Chandigarh!5e0!3m2!1sen!2sin!4v1677645276740!5m2!1sen!2sin" width="600" height="450" style="border: 2px solid black; margin: auto 23%; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br><br>
</div>
{% endblock collegeContact %}