{% extends 'university.html'%}
{% block UniName %}Tezpur University{% endblock UniName %}   
{% block tableBody %}
<div class = "container" style="margin:50px 250px">
    <div id="TezpurUniversity">
    <table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black"  style="box-sizing:border-box;background-color: #daf192d6; margin-top: 80px;">
         <tr style="page-break-inside: avoid;">
            <th style="wordWrap: break-word;page-break-inside: avoid;">SR. NO.</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
            <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">27-Sep-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Admission of B.Tech. students</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">17-Oct-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Admission of UG students (other than B.Tech. students)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">26-Oct-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Admission of PG students</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">27-Oct-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;"> Course registration of all newly admitted students</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">01-Nov-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Starting of classes of all newly admitted students</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">10-Nov-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last date for addition/deletion/conversion of Course registration</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">22-Nov-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last date for completion of Sessional Test I</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">8</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">15-Dec-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Mid-Semester Examination (Open Elective Courses only)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">9</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">16-Dec-2022</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Mid-Semester Examination</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">10</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">08-Jan-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Academic recess for students</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">11</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">19-Jan-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last date for completion of Sessional Test II</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">12</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">01-Feb-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Registration for Open Elective Courses for the next Semester</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">13</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">06-Feb-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Collection of students' feedback</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">14</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">13-Feb-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">End-Semester Examination (Open Elective Courses only)</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">15</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">14-Feb-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">End-Semester Examination</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">16</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">02-Mar-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Last date for submission of Grades (both online and offline) by the<br>Departments/Centres to the Controller of Examinations</td>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="wordWrap: break-word;page-break-inside: avoid;">17</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">14-Mar-2023</td>
            <td style="wordWrap: break-word;page-break-inside: avoid;">Declaration of results of the Autumn Semester examinations</td>
        </tr>
    </table>
</div>

    <br><br><br>

    <button 
    onclick="downloadPDF(event, 'TezpurUniversity')"
    style="color:solid-black;padding: 5px 62px 5px 70px;
    font-size: 16px;
    background-color: aliceblue;
    border: 1px solid #0000;
    cursor: pointer;
    font-size: 20px;
    margin: auto 41%;
    margin-bottom: 8%;" class="download_btn"><img src="/static/downloadIcon.png" style="border-radius: 30%; margin-right:20px;"></img><strong>Download</strong></button>
    <br>
    {% endblock tableBody %}
    {% block collegeContact %}
    <div style="    display: flex;
    width: 100vw;
    background-color: #2a2e45;
    position: relative;
    padding-top:45px;">
    <div style="width:21%;   margin-top:75px; margin-left:111px">
        <address>
        <p style="color:navajowhite;"><strong>Phone Number:- </strong>+91-3712-273332(Reception)<br>+91-3712-273299</p><br><br>
        <a href= "mailto:admn@tezu.ernet.in"><p style="color:navajowhite;"><strong>Email:- </strong>admn@tezu.ernet.in</p><br><br></a>
        <a href ="https://www.tezu.ernet.in/admissions2022_syllabus.html"><strong style="color:navajowhite;"><i>Click for the syllabus<i></strong></a>
        </address>
    </div>  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3564.3801180156033!2d92.82856604961417!3d26.700300875549466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3744ebc8fd314411%3A0x28a60e3c5515613b!2sTezpur%20University!5e0!3m2!1sen!2sin!4v1677645350857!5m2!1sen!2sin" width="600" height="450" style="border: 2px solid black; margin: auto 23%; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br><br>
</div>
{% endblock collegeContact %}