{% extends 'university.html' %}

{% block UniName %}VIT{% endblock UniName %}

{% block tableBody %}
<div class="container" style="margin: 50px auto">
<div id="VIT">
<table border="5px" cellpadding="18px" cellspacing="6px" align="center" bordercolor="black" style="margin-top: 80px; page-break-inside: avoid;background-color: #daf192d6;">
    <tr style="page-break-inside: avoid;">
     <th style="wordWrap: break-word;page-break-inside: avoid;">Sr. No.</th>
     <th style="wordWrap: break-word;page-break-inside: avoid;">DATE</th>
     <th style="wordWrap: break-word;page-break-inside: avoid;">ACTIVITY</th>
    </tr>
    
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">1</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">01 Jan 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of WIN 2022-23 Semester</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">2</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">14 Jan 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Bhogi</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">15 Jan 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Makara Sankranthi/ Pongal</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">3</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">26 Jan 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Republic Day</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">4</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">13 Feb 2023 to 20 Feb 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">CAT-1</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">5</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">04 Mar 2023 to 05 Mar 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">VITOPIA</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">6</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">08 Mar 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Holi</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">7</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">22 Mar 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Ugadi</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">8</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">27 Mar 2023 to 03 Apr 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">CAT-2</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">9</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">07 Apr 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Good Friday</td>
    </tr>
 
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">10</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">14 Apr 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Dr B R Ambedkar Jayanti</td>
    </tr>

    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">11</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">22 Apr 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Eid-ul-Fitr/ Ramzan</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">12</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">01 May 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">May Day</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">13</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">07 May 2023 to 8 May 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Engineering Expo</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">14</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">13 May 2023 to 20 May 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">FAT</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">15</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">20 MAy 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">End of WIN 2022-23 Semester</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">16</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">21 May 2023 to 24 Jul 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Summer Break</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">17</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">22 May 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Tentative Commencement of Summer 2022-23 Semester for 2018 MIS, 2019 and 2020 Batch Students</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">18</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">22 May 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Commencement of FALL 2023-34 Semester for 2021 Batch B.Tech Students</td>
    </tr>
    <tr style="page-break-inside: avoid;">
        <td style="wordWrap: break-word;page-break-inside: avoid;">19</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">25 Jul 2023</td>
        <td style="wordWrap: break-word;page-break-inside: avoid;">Tentative Commencement of FALL 2023-24 Semester</td>
    </tr>  
</table>
</div>
<br><br><br>
<button  
    onclick="downloadPDF(event, 'VIT')"
    style="color:solid-black;padding: 5px 62px 5px 70px;
    font-size: 16px;
    background-color: aliceblue;
    border: 1px solid #0000;
    cursor: pointer;
    font-size: 20px;
    margin: auto 41%;
    margin-bottom: 8%;" class="download_btn"><img src="/static/downloadIcon.png" style="border-radius: 30%; margin-right:20px;"></img><strong>Download</strong></button>
   <br>
   {% endblock tableBody %}
   {% block collegeContact %}
    <div style="    display: flex;
    width: 100vw;
    background-color: #2a2e45;
    position: relative;
    padding-top:45px;">
    <div style="width:21%;   margin-top:75px; margin-left:111px">
        <address>
        <p style="color:navajowhite;"><strong>Phone Number:- </strong><br>044-462-77555<br>+ 91-416-220 2188 </p><br><br>
        <a href= "mailto: ugadmission@vit.ac.in"><p style="color:navajowhite;"><strong>Email:- </strong> ugadmission@vit.ac.in<br></p></a><a href= "mailto:pgadmission@vit.ac.in"><p style="color:navajowhite;">pgadmission@vit.ac.in<br></p></a><br><br>
        <a href ="https://vit.ac.in/sites/default/files/vitree/VITREE-2023-July-Session-Syllabus.pdf"><strong style="color:navajowhite;"><i>Click for the syllabus<i></strong></a>
        </address>
    </div>  
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.0409982303!2d79.15373954935876!3d12.969228418396982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad479f0ccbe067%3A0xfef222e5f36ecdeb!2sVellore%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1677645569538!5m2!1sen!2sin" width="600" height="450" style="border: 2px solid black; margin: auto 23%; display: block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<br><br>
</div>
{% endblock collegeContact %}